/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
   
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .project,.certificate, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.project .pro-container,.certificate .cerContainer,.services .services-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .about-image{
    -moz-box-shadow: 10px 8px 10px #fff;
    -webkit-box-shadow: 10px 8px 10px #fff;
    box-shadow: 10px 8px 10px #000;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}


/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 15px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #0b4f53;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 29px;
    font-weight: 600;
}
/* .navbar .logo a span{
    color: #0b4f53;
    transition: all 0.3s ease;
} */
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
/* .navbar .menu li a:hover{
    color: #13979e;
} */
.navbar.sticky .menu li a:hover{
    color: #47dbe2;
}
.navbar .menu li a:hover{
    color: #18c2cb;
}
.activeColor{
    border-bottom: 3px solid #fff;
  
  }
  

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #0d7a80;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 10px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

/* home section styling */
.home{
    display: flex;
    background: url("images/background-pic.PNG") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 40px;
    text-shadow: 3px 3px 3px #000;
    /* margin-bottom: 20px; */
}
.home .home-content .revealDiv{
    margin-bottom: 30px;
    margin-top: 150px;
}

:root{
  --button-color: #fff;
  --text-color: maroon;
  --button-border-color: maroon;
  --button-height: 64px;
  --button-line-height: 64px;
  --button-width: 210px;
  /* Button 1 */
  --b1-buttonColor: #fff;
  --b1-bg:  #112526;
  --b1-Height: 64px;
  --b1-lineHeight: 64px;
  /* Button 2 */
  --buttonWidth: 140px;
  --border-radius: 5px;
  --color: #bf7b7b;
  --btn-hover-color: maroon;
  --button-bg: #fff;
  --b2-lineHeight: 64px;
  --b2-borderColor: #fff;

  --hue: 223;
	--bg: hsl(var(--hue),90%,90%);
	--fg: hsl(var(--hue),90%,10%);
	--trans-dur: 0.3s;
}
 
  .home .button-con{
    display: flex;
    margin-bottom: 40px;
  }

  .click-btn {
    display: flex;
    width: var(--buttonWidth);
    height: 64px;
    justify-content: center;
    align-items: center;
    /* margin: 0.5rem; */
    line-height: var(--b2-lineHeight);
    /* border: 1px solid; */
    border-radius: var(--border-radius);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    transition: all 0.35s;
    box-sizing: border-box;
    /* background: var(--button-bg); */
  }
  /* Button 1 */
  .btn-1 {
    position: relative;
    border-color: green;
    background: var(--b1-bg);
    color: var(--b1-buttonColor);
    transition-delay: 0.3s;
    overflow: hidden;
    margin-right: 20px;
    &:hover {
      transform: translateY(-0.3em);
      border-color: var(--btn-hover-color);
      background: var(--btn-hover-color);
      color: rgba(221, 99, 149, 0);
      transition-delay: 0s;
      &::before {
        opacity: 1;
        transform: translateX(0);
        transition-delay: 0.15s;
      }
    }
    &::before {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      content: attr(data-hover);
      color: var(--button-color);
      text-align: center;
      transform: translateX(-60%);
      transition: all 0.4s;
      z-index: 1;
    }
  }
  
/* Button 2 */
  .btn-2 {
    color: var(--color);
    position: relative;
    background: var(--button-bg);
    border-color: var(--b2-borderColor);
    color: var(--text-color);
    overflow: hidden;
    &::before {
      width: 0;
      height: 4.5px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: var(--btn-hover-color);
      transition: all 0.35s;
      content: "";
      z-index: 2;
    }
    &::after {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      border: 1px solid var(--btn-hover-color);
      border-radius: var(--btn-hover-color);
      background-color: var(--btn-hover-color);
      transform: translate(0, -100%);
      transition: all 0.35s;
      content: attr(data-hover);
      z-index: 1;
    }
    &:hover {
      &::before {
        width: 100%;
      }
      &::after {
        transform: translate(0, 0);
      }
    }
  }

  .home .social-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    width: 400px;
    padding: 10px 0;
    /* border-radius: 50px;
    background-color: crimson; */
}
.home .social-links a{
    color: #fff;
}
.facebook-holder{
    position: relative;
    background: #3B5999;
    border-radius: 50%;
}
.instagram-holder{
    position: relative;
    background: #e1306c;
    border-radius: 50%;
}
.github-holder{
    position: relative;
    background: #333;
    border-radius: 50%;
}
.github-holder{
    position: relative;
    background: #333;
    border-radius: 50%;
}
.linkedin-holder{
    position: relative;
    background: blue;
    border-radius: 50%;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 2em;
    padding: 10px;
    border-radius: 50%;
    font-size: 1.5em;
    
    transition: all 0.5s ease;
}

.tooltip{
    position: absolute;
    padding: 5px 20px;
    top: 0%;
    left: 0%;
    transform: translate(-25%, -35px);
    font-size: 1em;
    border-radius: 50px;
    color: #FFF;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    opacity: 0;
}

.tooltip::before{
    content: "";
    display: flex;
    position: absolute;
    width: 15px;
    height: 15px;
    transform: translate(2rem, 15px) rotate(45deg);
    z-index: -2;
    outline: none;
    border: none;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.linkedin .tooltip::before{
    transform: translate(1.2rem, 15px) rotate(45deg);
}
.facebook .tooltip::before{
    transform: translate(1.5rem, 15px) rotate(45deg);
}
.instagram .tooltip::before{
    transform: translate(1.5rem, 15px) rotate(45deg);
}

.github .tooltip::before{
    transform: translate( 1.2rem, 15px) rotate(45deg);
}

.icon:hover ~ .tooltip{
    transform: translate(-25%, -45px) ;
    opacity: 1;
}

.icon:hover{
    color: #FFF;
}

.facebook .icon:hover,
.facebook .icon:hover ~ .tooltip,
.facebook .icon:hover ~ .tooltip::before{
    background: #3B5999;
}

.instagram .icon:hover,
.instagram .icon:hover ~ .tooltip,
.instagram .icon:hover ~ .tooltip::before{
    background: #e1306c;
}

.github .icon:hover ~ .tooltip,
.github .icon:hover ~ .tooltip::before,
.github .icon:hover{
    background: #333;
}

.linkedin .icon:hover,
.linkedin .icon:hover ~ .tooltip,
.linkedin .icon:hover ~ .tooltip::before{
    background: blue;
}
/* about section styling */

.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .rightSide{
    width: 55%;
}
.about .about-content .rightSide .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .rightSide p{
    text-align: justify;
    font-size: 18px;
}
.about .about-content .rightSide a{
  display: inline-block;
  color: #fff;
  background: maroon;
  font-size: 20px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 600px;
  overflow: hidden;
  border-radius: 6px;
  transition: all 0.3s ease;
  border: 3px solid #112526;
  background-image: -webkit-linear-gradient(30deg, #112526 50%, transparent 50%);
  background-image: linear-gradient(30deg, #112526 50%, transparent 50%);
  background-size: 610px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.about .about-content .rightSide a:hover{
    background-position: 100%;
    color: #fff;
    border: 3px solid maroon;
}

/* porfolio section styling */
.project{
    color:#fff;
    background: #111;
    position: relative;
}
.project .title::before,
.teams .title::before{
    background: #fff;
}
.project .title::after,
.teams .title::after{
    background: #111;
    
}
.project .pro-container .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    /* padding: 15px 15px 0; */
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 32px;
    border: 2px solid none;
    /* height: 400px; */
    overflow: hidden;
   border: 2px solid #111;
}
.project .pro-container .card .box{
    overflow: hidden;
    height: 350px;
    padding: 15px;
  
}
.project .pro-container .card .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}
.project .pro-container .card:hover{
    background: #333;
    color: gold;
    border: 2px solid gold;
    transition: all 0.3s ease;
}

.project .pro-container .card .box:hover img{
    transform: scale(1.1);
}

.project .desc{
    font-size: 1.1rem;
    font-weight: 500;
    background-color: #0b4f53;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 0;
}

.project .btn-show{
    background: #0b4f53;
    color: #fff;
    display: block;
    margin: 10px auto -70px;
    padding: 12px 10px;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid#0b4f53;
    transition: all 0.3s ease ;
    font-weight: 600;
}

.project .btn-show:hover{
    background: #fff;
    color: maroon;
    border: 2px solid #fff;
}

 .project a{
    color: #fff;
    
 }.project a:hover{
    color: gold;
    
 }
 .card-div{
    display: none;
 }
 .project .demoSource{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45px;
    font-size: 15px;
 }
 .project .demo,.project .scode{
    border: 2px solid gray;
    padding: 2px 10px;
    margin: 50px 0;
    color: #fff;
 }
 .project .demo:hover,.project .scode:hover{
    border: 2px solid blue;
 }
 /* Certificate Section Start */
.certificate{
    color: #000;
    background: silver;
}
.certificate .cerContainer .card{
    width: calc(50% - 20px);
    /* background: #fff; */
    text-align: center;
    /* border-radius: 6px; */
    /* padding: 15px 15px 0; */
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 32px;
    /* border: 2px solid #222; */
    /* height: 400px; */
    overflow: hidden;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 3px solid rgba(255, 255, 255, 0.29);
}
.certificate .cerContainer .card .box{
    overflow: hidden;
    height: 360px;
    padding: 15px;
}
.certificate .cerContainer .card .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}
.certificate .cerContainer .card .box:hover img{
    transform: scale(1.1);
}
.certificate .cerContainer .card:hover{
 color: gold;
 border: 3px solid gold;
 transition: all 0.3s ease;
}
.certificate a:hover{
    color: gold;
}
/* Certificate Section End */

/* skills section styling */
.skills{
    background-color: #ffff;
    height: auto;
    color: #000;
}

.skills .skills-content .column{
    width: calc(50% - 30px);
   
   
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
   
    /* height: 95px; */
   
}


/* progress bar */
.progress-bar {
    margin: 0 0 0;
    overflow: hidden;
   
  }
  .progress-bar h4{
    /* background-color: cadetblue; */
    height: 28px;
  }
  
  .progress-title-holder {
    padding-bottom: 7px;
    position: relative;
    margin: 3px 0;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    color: #2e2e2e;  
  }
  
  .progress-title {
    z-index: 100;
    color: #000;
  }
  
  .progress-number-wrapper {
    width: 100%;
    z-index: 10;
  }
  
.progress-number-mark {
    margin-bottom: 4px;
    border-radius: 3px;
    background-color: rgb(38, 51, 49);
    padding: 0 8px;
    position: absolute;
    bottom: 0;   
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%); 
  } 

.progress-number-wrapper,
.progress-number-mark {
  font-family: Open Sans, sans-serif;
  font-size: 11px;
  line-height: 24px;
  height: 24px;
  letter-spacing: 0px;
  font-weight: 600;
  font-style: normal;
  text-transform: none;
  color: #ffffff;
}

.down-arrow {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #16171d;
    position: absolute;
    left: 50%;
    top: 100%;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);  
  }

  .progress-content-outter {
    height: 7px;
    background-color: silver;
  }
  
  .progress-content {
    height: 7px;
    background-color: #0b4f53;
    width: 0%; /* Initial value */
  }
/* my skills end section styling */

/* services section styling */
.services{
    background: url('images/bg-service.PNG') no-repeat center;
    color: #fff;
    background-size: cover;
    height: auto;
   
  }
  /* .services .services-content .rightSide{
    background-color: rgb(250,250,250, 0.8);
    opacity: 0.8;
    color: #000;
    padding: 35px 25px;
    border-radius: 5px;
    border: 2px solid white;
    font-weight: 600;
    
  } */

  
  .services .title{
    text-shadow: 4px 2px 2px #000;
  }
  .services .services-content .card p,.services .services-content .card p{
    text-align: justify;
  }
  .services .services-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .services .services-content .card{
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: calc(50% - 20px);
    background: #0b4f53;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 35px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .services .services-content .card:not(:last-child){
    margin-right: 30px;
  }
  .services .services-content .card:hover{
    background: maroon;
   
  }
  .services .services-content .card .box{
    transition: all 0.3s ease;
  }
  .services .services-content .card:hover .box{
    transform: scale(1.05);
  }
  .services .services-content .card i{
    font-size: 50px;
    color: #fff;
    transition: color 0.3s ease;
  }
  .services .services-content .card:hover i{
    color: #fff;
  }
  .services .services-content .text{
    font-size: 22px;
    font-weight: 600;
    margin: 8px 0 7px 0;
    
  }
  .services .services-content .responsiveText{
    font-size: 22px;
    font-weight: 600;
    margin: -8px 0 7px 0;
    
  }
  .services .services-content p{
    font-size: 20px;
    font-weight: 500;
  }.responsive-icon img{
    height: 45px;
    width: 70px;
    color: #fff;
    background-color: #fff;
    margin: 0;
    padding: 0;
    border-radius: 10px;
  }
  
  
/* contact section styling */
.contact{
    background-color: #000;
    color: #fff;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #1d9ca2;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #fff;
}
.contact .rightSide form .fields{
    display: flex;
}
.contact .rightSide form .field,
.contact .rightSide form .fields .field{
    height: 45px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
}
.contact .rightSide form .textarea{
    height: 80px;
    width: 100%;
}
.contact .rightSide form .name{
    margin-right: 10px;
}
.contact .rightSide form .field input,
.contact .rightSide form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .rightSide form .field input:focus,
.contact .rightSide form .textarea textarea:focus{
    border-color: gold;
}
.contact .rightSide form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .rightSide form .button-area{
  display: flex;
   justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
}
.rightSide form .button-area button, .contact-btn{
  color: #fff;
  display: block;
  width: 100px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: #0b4f53;
  border: 2px solid #0b4f53;
  transition: all 0.3s ease;
}


.rightSide form .button-area button:hover,.contact-btn:hover{
  color: #31bdc5;
  background: transparent;
  border:2px solid #31bdc5;
  
}
/* input form */
.input-field{
    margin: 10px 0;
    position: relative;
    height: 50px;
    width: 100%;
    
  }


  .input-field .inputContact{
    height: 100%;
    width: 100%;
    border: 1px solid silver;
    padding-left: 15px;
    outline: none;
    font-size: 19px;
    transition: .4s;
    border-radius: 4px;
    background-color: #000;
  }

  .inputContact:focus{
    border: 1px solid gold;
    box-shadow: 0 0 10px rgb(245, 218, 12);
  }
  .input-field label{
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
   
  }
  .input-field label{
    left: 15px;
    pointer-events: none;
    color: grey;
    font-size: 18px;
    transition: .4s;
  }
  .inputContact:focus ~ label,
  .inputContact:valid ~ label{
    transform: translateY(-33px);
    background: #000;
    font-size: 16px;
    color: gold;
    font-weight: 500;
    padding: 0 3px;
   
  }
  .textArea{
    background-color: #000;
    color: #fff;
  }
  .inputContact{
    color: #fff;
  }
  .textArea:focus{
    outline: none !important;
    box-shadow: 0 0 10px rgb(245, 218, 12);
    background-color: #000;


  }
/* footer section styling */
footer{
    background: #0b4f53;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: #fff;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

/* scroll progress */
.scroll-line{
    background: gold;
      top: 0;
      left: 0;
      height: 4px;
      position: fixed;
      transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      z-index: 9999;
    }

    #preloader{
        background-color: var(--bg);
        color: var(--fg);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font: 1em/1.5 sans-serif;
        height: 100vh;
        width: 100%;
        position: fixed;
        transition: background-color var(--trans-dur),
            color var(--trans-dur);
            z-index: 9999999;
           
    }

    #preloader svg{
        font-size: 12px;
       }
       .preloadingName{
           z-index: 999999;
           text-align: center;
           font-size: 25px;
           font-weight: 600;
           position: absolute;
           width: 100%;
           animation: 0.75s ease-in-out;
           margin-bottom: 60px;
           color: purple;
           font-family: 'Poppins';
       }
       
       .pl {
           display: block;
           margin: auto;
           width: 16em;
           height: auto;
       }
       .pl line {
           animation-duration: 3s;
           animation-timing-function: ease-in-out;
           animation-iteration-count: infinite;
       }
       .pl__line1,
       .pl__line9 {
           animation-name: line1;
       }
       .pl__line2,
       .pl__line8 {
           animation-name: line2;
       }
       .pl__line3,
       .pl__line7 {
           animation-name: line3;
       }
       .pl__line4,
       .pl__line6 {
           animation-name: line4;
       }
       .pl__line5 {
           animation-name: line5;
       }
       
       /* Dark theme */
       @media (prefers-color-scheme: dark) {
           :root {
               --bg: hsl(var(--hue),90%,10%);
               --fg: hsl(var(--hue),90%,90%);
           }
       }
       
       /* Animations */
       @keyframes line1 {
           from,
           8% {
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
           18% {
               stroke-dashoffset: 16;
               transform: translate(0,8px);
           }
           28% {
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
           38% {
               stroke-dashoffset: 0;
               transform: translate(0,0);
           }
           48% {
               opacity: 1;
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
           53% {
               opacity: 0;
               stroke-dashoffset: 31.99;
               transform: translate(8px,16px);
           }
           56% {
               animation-timing-function: steps(1,start);
               opacity: 0;
               stroke-dashoffset: 32;
               transform: translate(0,16px);
           }
           60% {
               animation-timing-function: ease-out;
               opacity: 1;
               stroke-dashoffset: 32;
               transform: translate(0,16px);
           }
           70% {
               animation-timing-function: ease-in-out;
               stroke-dashoffset: 0;
               transform: translate(0,0);
           }
           80% {
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
           90% {
               stroke-dashoffset: 16;
               transform: translate(0,8px);
           }
           to {
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
       }
       @keyframes line2 {
           from,
           6% {
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
           16% {
               stroke-dashoffset: 16;
               transform: translate(0,8px);
           }
           26% {
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
           36% {
               stroke-dashoffset: 0;
               transform: translate(0,0);
           }
           46% {
               opacity: 1;
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
           51% {
               opacity: 0;
               stroke-dashoffset: 31.99;
               transform: translate(8px,16px);
           }
           54% {
               animation-timing-function: steps(1,start);
               opacity: 0;
               stroke-dashoffset: 32;
               transform: translate(0,16px);
           }
           58% {
               animation-timing-function: ease-out;
               opacity: 1;
               stroke-dashoffset: 32;
               transform: translate(0,16px);
           }
           68% {
               animation-timing-function: ease-in-out;
               stroke-dashoffset: 0;
               transform: translate(0,0);
           }
           78% {
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
           88% {
               stroke-dashoffset: 16;
               transform: translate(0,8px);
           }
           98%,
           to {
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
       }
       @keyframes line3 {
           from,
           4% {
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
           14% {
               stroke-dashoffset: 16;
               transform: translate(0,8px);
           }
           24% {
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
           34% {
               stroke-dashoffset: 0;
               transform: translate(0,0);
           }
           44% {
               opacity: 1;
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
           49% {
               opacity: 0;
               stroke-dashoffset: 31.99;
               transform: translate(8px,16px);
           }
           52% {
               animation-timing-function: steps(1,start);
               opacity: 0;
               stroke-dashoffset: 32;
               transform: translate(0,16px);
           }
           56% {
               animation-timing-function: ease-out;
               opacity: 1;
               stroke-dashoffset: 32;
               transform: translate(0,16px);
           }
           66% {
               animation-timing-function: ease-in-out;
               stroke-dashoffset: 0;
               transform: translate(0,0);
           }
           76% {
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
           86% {
               stroke-dashoffset: 16;
               transform: translate(0,8px);
           }
           96%,
           to {
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
       }
       @keyframes line4 {
           from,
           2% {
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
           12% {
               stroke-dashoffset: 16;
               transform: translate(0,8px);
           }
           22% {
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
           32% {
               stroke-dashoffset: 0;
               transform: translate(0,0);
           }
           42% {
               opacity: 1;
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
           47% {
               opacity: 0;
               stroke-dashoffset: 31.99;
               transform: translate(8px,16px);
           }
           50% {
               animation-timing-function: steps(1,start);
               opacity: 0;
               stroke-dashoffset: 32;
               transform: translate(0,16px);
           }
           54% {
               animation-timing-function: ease-out;
               opacity: 1;
               stroke-dashoffset: 32;
               transform: translate(0,16px);
           }
           64% {
               animation-timing-function: ease-in-out;
               stroke-dashoffset: 0;
               transform: translate(0,0);
           }
           74% {
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
           84% {
               stroke-dashoffset: 16;
               transform: translate(0,8px);
           }
           94%,
           to {
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
       }
       @keyframes line5 {
           from {
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
           10% {
               stroke-dashoffset: 16;
               transform: translate(0,8px);
           }
           20% {
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
           30% {
               stroke-dashoffset: 0;
               transform: translate(0,0);
           }
           40% {
               stroke-dashoffset: -16;
               transform: translate(0,15px);
           }
           50% {
               stroke-dashoffset: -31;
               transform: translate(0,-48px);
           }
           58% {
               stroke-dashoffset: -31;
               transform: translate(0,8px);
           }
           65% {
               stroke-dashoffset: -31.99;
               transform: translate(0,-24px);
           }
           71.99% {
               animation-timing-function: steps(1);
               stroke-dashoffset: -31.99;
               transform: translate(0,-16px);
           }
           72% {
               animation-timing-function: ease-in-out;
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
           82% {
               stroke-dashoffset: 16;
               transform: translate(0,8px);
           }
           92%,
           to {
               stroke-dashoffset: 31.99;
               transform: translate(0,16px);
           }
       }

/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }.services .services-content .column{
        margin: 0 10px;
    }
}
@media (max-width: 1024px){
    .project .desc{
        font-size: 17px;
    }.about .about-content .rightSide a{
        padding: 12px 23px;
        font-size: 18px;
        color: #fff;
    }.project .pro-container .card .box{
        height: 300px;
    }
}


@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }.scroll-up-btn{
        z-index: 999;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .rightSide{
        flex: 100%;
    }

    .skills .skills-content .column{
        width: 100%;
        margin-bottom: 5px;
    }
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 0px;
    }.project .pro-container .card .box{
        height: 290px;
    }.project .pro-container .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }.certificate .cerContainer .card{
        width: calc(50% - 10px);
    } .certificate .cerContainer .card .box{
        height: 290px;
    }
}
@media (max-width: 768px){
    .services .services-content .card{
        flex-direction: column;
        margin-bottom: 25px;
        width: 100%;
      }
      .services .services-content .card:not(:last-child){
        margin-right: 0px;
      }
}
@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .project .desc{
        font-size: 20px;
    }.about .about-content .rightSide a{
        padding: 12px 25px !important;
        font-size: 18px;
        color: #fff;
    }.project .pro-container .card .box{
        height: 330px;
    }
    
    .project .pro-container .card,.certificate .cerContainer .card{
        width: 100%;
    }.home .home-content{
        width: 100%;
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: center;
    }.home .home-content .text-1{
        text-align: center;
    }.home .button-con{
        margin: 5px auto;

    }.home .home-content .revealDiv{
        height: 110px;
        margin-bottom: 10px;
    }.navbar .logo a{
        font-size: 24px;
    }.home .social-links{
        margin: 60px auto;
        width: 100%;
        padding: 0px 50px;
    }.home .home-content .revealDiv{
        margin-top: 180px;
    }.contact .rightSide form .button-area{
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .about .about-content .rightSide .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .rightSide form .fields{
        flex-direction: column;
    }
    .contact .rightSide form .name,
    .contact .rightSide form .email{
        margin: 10px 0;
    }
    .rightSide form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }.about .about-image{
        max-width: 100%;
    }.services .services-content .card{
        width: 100%;
    }
    .project .desc{
        font-size: 18px;
    }.about .about-content .rightSide a{
        padding: 12px 18px !important;
        font-size: 18px;
        color: #fff;
    }#preloader svg{
        font-size: 5px;
    }.preloadingName{
        font-size: 18px;
    }
}
@media(max-width: 375px){
    .services .services-content .text, .services .services-content .responsiveText{
        font-size: 21px;   
    }.services .services-content .card{
        height: auto;
    }.about .about-content .rightSide a{
        padding: 12px 15px !important;
        font-size: 18px;
        color: #fff;
    }
}
@media(max-width: 280px){
    .navbar{
        padding: 10px 0;
        overflow: hidden;
    }
    
    .navbar .logo a{
        font-size: 28px;
    }
    .project .title,.about .title,
    .skills .title,.services .title,
    .contact .title{
        font-size: 28px
    }.home .home-content .text-1{
        font-size: 35px;
    }
    .project .pro-container .card .box{
        height: 200px;
    }.project .desc{
        height: 50px;
        line-height: 50px;
    }
    .project .btn-show{
        padding: 10px 9px;
        font-size: 15px;
    }.about .about-content .rightSide a{
        font-size: 15px;
        padding: 10px 15px;
    }
    .services .services-content .card{
        height: auto;
    }
    .services .services-content .text,
    .services .services-content .responsiveText{
        font-size: 20px;
    }.services .services-content .card p,
    .services .services-content .card p{
        font-size: 17px;
    }.scroll-up-btn{
        bottom: 60px !important;
    }.contact .contact-content .info .sub-title{
        font-size: 14px;
    }.home .button-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } .home .social-links{
       padding: 0 10px;
    }.home .home-content .revealDiv{
        height: 110px;
        margin-bottom: 30px;
        margin-top: 70px;
    }.btn-1{
        margin-bottom: 20px;
        margin-right: 0;
    }.click-btn{
        width: 120px;
        height: 55px;
        line-height: 55px;
        font-size: 18px;
    }.home .home-content .revealDiv{
        margin-top: 90px;
    }#preloader svg{
        font-size: 5px;
    }.preloadingName{
        font-size: 18px;
    }
}